body{
  background-color: rgb(57, 82, 132);
}

.topic{
  font-size: xx-large;
  color: white;
}
.border{
  border-style: none !important;
  background-color: black;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

input{
  color: white !important;
  background-color: rgb(41, 42, 54) !important;
  border-style: none !important;
  height:50px;
}

.submit{
  border-radius: 0.25rem;
  border-style: none !important;
  min-width: 280px;
  width: 100%;
  height: 50px;
  background-color:rgb(56, 118, 234);
}

.submit:hover{
  background-color: rgb(53, 109, 222);
}